version: '3'
services:
  iris:
    build: .
    command: --ISCAgent false
    ports:
      - 42773:52773
      - 41773:1972
    volumes:
      - "./:/home/project/shared/Samples-FHIR-Oximeter-Devices/"
